In [1]:
#creating x,y table
import numpy as np
import pandas as pd

In [2]:
#data for multiple featrues
x1=np.array([3.78,2.44,2.09,0.14,1.72,1.65,4.92,4.37,4.96,4.52,3.69,5.88]).reshape(-1,1)
x2=np.array([1.5,1.2,0.9,0.4,0.6,0.7,2.3,2.0,2.4,2.1,1.9,2.5]).reshape(-1,1)
x3=np.array([10,20,15,5,6,7,25,30,35,28,22,27]).reshape(-1,1)

y=np.array([0,0,0,0,0,0,1,1,1,1,1,1])

#comp\bine featrue into one array
X=np.hstack((x1,x2,x3))#combine x1,x2,x3 horizontally

#create a DataFrame from the combines feature array
df=pd.DataFrame(X,columns=['Feature1','Feature2','Featrue3'])#naming cols
df['Target']=y#add target variable as new col

#diplay
print(df)

    Feature1  Feature2  Featrue3  Target
0       3.78       1.5      10.0       0
1       2.44       1.2      20.0       0
2       2.09       0.9      15.0       0
3       0.14       0.4       5.0       0
4       1.72       0.6       6.0       0
5       1.65       0.7       7.0       0
6       4.92       2.3      25.0       1
7       4.37       2.0      30.0       1
8       4.96       2.4      35.0       1
9       4.52       2.1      28.0       1
10      3.69       1.9      22.0       1
11      5.88       2.5      27.0       1

In [8]:
#another way
#dataset=[X,y]
#table2=pd.DataFrame(dataset,columns=['f1','f2','f3','taget_y'])
#table2